@model ProtonComputers.Models.Manufacturers

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Manufacturers</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ManufacturerID" />
            <div class="form-group">
                <label asp-for="ManufacturerName" class="control-label">Manufacturer Name</label>
                <input asp-for="ManufacturerName" class="form-control" />
                <span asp-validation-for="ManufacturerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WebsiteName" class="control-label">Website URL</label>
                <input asp-for="WebsiteName" class="form-control" />
                <span asp-validation-for="WebsiteName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Founded" class="control-label">Date Founded</label>
                <input asp-for="Founded" type="date" class="form-control" />
                <span asp-validation-for="Founded" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
